.nav-container {
  display: flex;
  /* background-color: #001529; */
  width: 100%;
  height: 100%;
}
.logo-container {
  display: flex;
}

.logo_title {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  margin-top: 35px;
  margin-left: 110px;
  position: absolute;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-control-container{
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 35px !important;
  font-size: 1.2rem !important;
  background-color: var(--bgSecondary) !important;
  border: none !important;
  width: 50px;
}

.menu-bar{
  display: flex;
  margin-top: 27px;
  margin-left:30rem;
  width: 50rem;
  justify-content: space-evenly;
}

