@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


:root{
    --text-primary:#000;
    --bgPrimary:#fff;
   --bgSecondary: #F9F9F9;
   --blue: #0071bd;
   --light-blue: #e6f7ff;
   --border: #d9d9d9;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;
}

.app{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.navbar{
    background-color: #001529;
    height: 90px;
    position: fixed;
    left: 0;
    top:0;
    z-index: 20;
    width: 100%;
}

.main{
    width: 100%;
}

.routes{
    margin-top: 100px;
    padding: 20px;
}

.footer{
   background-color: #001529; 
   display: flex;
   flex-direction: column;
   padding: 20px;
   align-items: center;
}